/* Header general*/
header .Header_logo {
  text-align: left;
  align-items: flex-start;
  width: 100%; }

header .Navegacion {
  text-align: right;
  justify-content: flex-end; }

header .Navegacion ul {
  list-style: none;
  padding: 5px;
  margin: 10px;
  display: flex;
  justify-content: flex-end;
  text-align: right; }
  header .Navegacion ul .Navegacion_Link {
    color: white;
    text-shadow: -2px -1px 0 blue;
    font-family: "Montserrat", sans-serif;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    position: relative; }
    header .Navegacion ul .Navegacion_Link:after {
      content: "";
      width: 0;
      height: 4px;
      background-color: sandybrown;
      position: absolute;
      bottom: 0;
      right: 50%;
      transition: all .5s;
      will-change: width; }
    header .Navegacion ul .Navegacion_Link:hover::after {
      width: 100%;
      right: 0; }

/*Header Fin*/
/*Aqui va mi home */
body .home {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.514)), url("../Imagenes/Background.jpg");
  background-size: cover;
  background-position: center; }

main h1 {
  font-family: "Roboto", sans-serif;
  color: black;
  text-shadow: -4px -3px aqua;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase; }

main .league_1, main body .Formulario, body main .Formulario {
  display: flex;
  align-items: center;
  justify-content: center; }

main .League_2 {
  font-family: "Montserrat", sans-serif;
  color: rgba(0, 0, 0, 0);
  text-align: center;
  align-items: center;
  justify-content: center; }
  main .League_2:hover {
    background-color: rgba(3, 3, 3, 0.096);
    color: white;
    text-shadow: 3px 2px 0 black; }

/*Aqui acaba home*/
/* Aqui inicia rango*/
body .rank {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.514)), url(../Imagenes/freljord-frostguard.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

main .rank_1 {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white; }
  main .rank_1 img {
    width: 100%; }

main .rank_2 {
  font-family: "Montserrat", sans-serif;
  color: white;
  text-shadow: 3px 1px 0 black;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex; }

/* Aqui inicia galeria*/
body .galery {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.514)), url(../Imagenes/mttargon-once-in-a-lifetime.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

main .img_lol {
  font-family: "Montserrat Alternates", sans-serif;
  color: white;
  text-align: center; }
  main .img_lol .img-thumbnail {
    margin-top: 15px;
    margin-bottom: 15px; }
    main .img_lol .img-thumbnail:hover {
      transform: scale(1.15, 1.15); }
  main .img_lol a {
    color: white;
    font-family: "Montserrat", sans-serif;
    text-decoration: none; }
    main .img_lol a:hover {
      color: #1b7ceb; }

/* Aqui finaliza gallery*/
/* Inicia about me*/
body .bodyme {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.616), rgba(0, 0, 0, 0.616)), url(../Imagenes/shurima-ruins.jpg);
  background-size: cover;
  background-position: center; }

main .containerimg {
  display: flex;
  justify-content: center; }
  main .containerimg img {
    width: 100%; }

main .containertext {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  color: cyan;
  text-shadow: -3px -2px 0 black; }

/* Aqui comienza contacto*/
body .contact {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../Imagenes/void-the-fall-of-icathia.jpg");
  background-size: cover;
  background-position: center; }

body h2 {
  color: #3885e9;
  text-align: center;
  font-style: Times;
  font-weight: 700;
  text-transform: uppercase; }

body .Formulario {
  flex-direction: column; }

body .Formulario_parrafo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  color: cyan;
  text-shadow: -2px -1px 0 black;
  margin: 20px;
  padding: 10px;
  text-align: center;
  align-items: center; }
  body .Formulario_parrafo p {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    margin: 20px;
    padding: 10px; }

/*Aqui finaliza contacto*/
/*Footer general*/
footer {
  display: flex;
  color: white; }
  footer h5 {
    font-size: medium;
    text-align: start;
    display: flex;
    flex-direction: column-reverse;
    font-family: "Montserrat", sans-serif; }
  footer .logo2 {
    display: flex;
    align-items: flex-start; }

/* Aqui termina*/
