*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header general*/
.Header{
    grid-column: 1/4;
    margin: 10px;
}
.Header_logo{
    text-align: left;
    width: 100%;
}
.Navegacion{
    text-align: right;
    padding: 10px;
    justify-content: flex-end;

}
.Navegacion ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    text-align: right;
}
.Navegacion_Link{
    color:rgb(10, 194, 170);
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    position: relative;
}
.Navegacion_Link:after{
    content: "";
    width: 0;
    height: 4px;
    background-color: rgb(48, 87, 81);
    position: absolute;
    bottom: 0;
    right: 50%;
    transition: all .5s;
    will-change: width;

}
.Navegacion_Link:hover::after{
    width: 100%;
    right: 0;
    color: cadetblue;
}
/*Header Fin*/
/*Aqui va mi home */
.grillahome{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.514)), url("../Imagenes/Background.jpg");
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr auto;
}
.home_container{
    display: flex;
    margin: 20px;
    padding: 10px;
}
h1{
    font-family: 'Roboto', sans-serif;
    color:#dbdaf5;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}
.league_1{
    width: 50%;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.league_1 img{
    height: auto;
    width: 100%;
}
.League_2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0);
    margin: 20px;
    padding: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.League_2:hover{
    background-color: rgba(3, 3, 3, 0.411);
    color: #B3E5FC;
}
.Centro{
    background-color: rgba(190, 136, 18, 0.048);
}
/* Aqui inicia rango*/
.grillarank{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.514)), url(../Imagenes/freljord-frostguard.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr auto;
}
.rank_1{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}
.rank_1 img{
    width: 100%;
}
.rank_2{
    font-family: 'Montserrat', sans-serif;
    color: #B3E5FC;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.container_rank{
    display: flex;
    margin: 20px;
    padding: 10px;
}
/* Aqui inicia galeria*/
.grillagalery{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.514)), url(../Imagenes/mttargon-once-in-a-lifetime.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr auto;
}
.img_lol{
    margin: 20px;
    padding: 10px;
    font-family: 'Montserrat Alternates', sans-serif;
    width: 250px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.img_lol img:hover{
    transform: scale(2,2);
}
.img_lol img{
    height: auto;
    width: 100%;
}
.img_lol a{
    color: #1c19d2;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
.img_lol a:hover{
    color: black;
}
.galery_img{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between; 
}
/* Aqui finaliza gallery*/
/* Inicia about me*/
.containermain{
    display: flex;
    margin: 20px;
    padding: 10px;

}
.containerimg{
    width: 50%;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.containerimg img{
    width: 100%;
}
.containertext{
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #B3E5FC;
}
.grillabodyme{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.616), rgba(0, 0, 0, 0.616)), url(../Imagenes/shurima-ruins.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr auto;
}
/* Aqui comienza contacto*/
.Formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Formulario h3{
    color: white;
    text-align: center;
    font-style: Times;
    font-weight: 700;
    text-transform: uppercase;   
}
.Formulario_parrafo{
    color: #B3E5FC;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
}
.Formulario_parrafo p{
    display: flex;
    justify-content: flex-start;
    text-align: center;
    margin: 20px;
    padding: 10px;
}
.grillacontact{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../Imagenes/void-the-fall-of-icathia.jpg");
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr auto;

}
/*Aqui finaliza contacto*/
/*Footer general*/
.Pie{
    display: flex;
    color: #b4b3fc;
    grid-column: 1/4;
}
.Pie h3{
    font-size: medium;
    text-align: start;
    display: flex;
    flex-direction: column-reverse;
    font-family: 'Montserrat', sans-serif;
}
.logo2{
    text-align: left;
}
/* Aqui termina*/
