
/* Header general*/
.Header{
    grid-column: 1/4;
    margin: 10px;
}
.Header_logo{
    text-align: left;
    width: 100%;
}
.Navegacion{
    color: rgba(2, 9, 117, 0.842);
    text-align: right;
    padding: 10px;

}
.Navegacion ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    text-align: right;
}
.Navegacion_Link{
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
}
/*Header Fin*/
/*Aqui va mi home */
.Background{
    background-image: url("../Imagenes/Background.jpg");
    background-size: cover;
    background-position: center;
}
.Background_home{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr auto;
}
.home_container{
    display: flex;
}
h1{
    font-family: 'Roboto', sans-serif;
    color: rgb(2, 9, 117);
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}
.league_1{
    width: 50%;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.league_1 img{
    width: 100%;
}
.League_2{
    font-family: 'Montserrat', sans-serif;
    color: rgb(25, 1, 90);
    margin: 20px;
    padding: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.Centro{
    background-color: rgba(190, 136, 18, 0.048);
}
/* Aqui inicia rango*/
.container_rank{
    display: flex;
}
.rank_1{
    width: 40%;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(207, 173, 247);
}
.rank_2{
    color: rgb(207, 173, 247);
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.rank_3{
    width: 30%;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(207, 173, 247);
}
.Bodyrank{
    background-image: url(../Imagenes/freljord-frostguard.jpg);
    background-size: cover;
}
.Bodyrankme{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr auto;
}
/* Aqui inicia galeria*/
.bodygallery{
    background-image: url(../Imagenes/mttargon-once-in-a-lifetime.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.img_lol{
    width: 250px;
    height: 250px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.img_lol img{
    height: auto;
    width: 100%;
}
.img_lol a{
    color: rgb(207, 173, 247);
    font-style: italic;
    text-decoration: none;
}
.galery_img{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.grilla_galery{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr auto;
}
/* Aqui finaliza gallery*/
/* Inicia about me*/
.Bodyaboutme{
    background-image: url(../Imagenes/shurima-ruins.jpg);
    background-size: cover;
    background-position: center;
}
.containermain{
    display: flex;

}
.containerimg{
    width: 50%;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.containerimg img{
    width: 100%;
}
.containertext{
    width: 50%;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: rgb(207, 173, 247);
}
.Bodyme{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr auto;
}
/* Aqui comienza contacto*/
.Formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Formulario h3{
    color: rgb(207, 173, 247);
    text-align: center;
    font-style: Times;
    font-weight: 700;
    text-transform: uppercase;   
}
.Formulario_parrafo{
    color: rgb(207, 173, 247);
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
}
.Formulario_parrafo p{
    display: flex;
    justify-content: flex-start;
    text-align: center;
}
.bodycontact{
    background-image: url("../Imagenes/Teemo_14.jpg");
    background-size: cover;
    background-position: center;

}
.grilla_contact{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr auto;

}
/*Aqui finaliza contacto*/
/*Aqui comienza mi footer*/
.Pie{
    display: flex;
    background-color: rgba(0, 0, 0, 0.178);
    color: black;
    grid-column: 1/4;
}
.Pie h3{
    text-align: center;
    display: flex;
    flex-direction: column-reverse;

}
.logo2{
    text-align: left;
}
/* Aqui termina*/
