
@import "_variables";
@import "_mixin";








/* Header general*/
header{
    .Header_logo{
        text-align: left;
        align-items: map-get($estilos, flex-start);
        width: 100%;
    }
    .Navegacion{
        text-align: right;
        justify-content: flex-end;
        }
        .Navegacion ul{
            list-style: none;
            padding: 5px;
            margin: 10px;
            display: flex;
            justify-content: flex-end;
            text-align: right;
            .Navegacion_Link{
                color: map-get($estilos, color);
                text-shadow: -2px -1px 0 blue;
                font-family: $tipgrafia-general;
                margin: 10px;
                padding: 10px;
                text-decoration: none;
                position: relative;
                &:after{
                    content: "";
                    width: 0;
                    height: 4px;
                    background-color: sandybrown;
                    position: absolute;
                    bottom: 0;
                    right: 50%;
                    transition: all .5s;
                    will-change: width;
                }
                &:hover::after{
                    width: 100%;
                    right: 0;
                }
            }
        }
               
}
/*Header Fin*/
/*Aqui va mi home */
body{
    .home{
        background: linear-gradient(to right, rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.514)), url("../Imagenes/Background.jpg");
        background-size: cover;
        background-position: center;
    }
}
main{
    h1{
        font-family: $tipografia-secundaria;
        color: black;
        text-shadow: -4px -3px aqua;
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;
    }
    .league_1{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .League_2{
        font-family: $tipgrafia-general;
        color: rgba(0, 0, 0, 0);
        text-align: center;
        align-items: center;
        justify-content: center;
        &:hover{
            background-color: rgba(3, 3, 3, 0.096);
            color: map-get($estilos, color);
            text-shadow: 3px 2px 0 black;
        }
    }
}
/*Aqui acaba home*/
/* Aqui inicia rango*/
body{
    .rank{
        background: linear-gradient(to right, rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.514)), url(../Imagenes/freljord-frostguard.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
main{
    .rank_1{
        font-family: $tipgrafia-general;
        @include flex-column-center
        align-items: center;
        color: $color-texto;
        img{
            width: auto;
        }
    }
    .rank_2{
        font-family: $tipgrafia-general;
        color: map-get($estilos, color);;
        text-shadow: 3px 1px 0 rgb(0, 0, 0);
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}
/* Aqui inicia galeria*/
body{
    .galery{
        background: linear-gradient(to right, rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.514)), url(../Imagenes/mttargon-once-in-a-lifetime.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}
main{
    .img_lol{
        font-family: $tipografia-terciaria;
        color: map-get($estilos, color);
        text-align: center;
        .img-thumbnail{
            margin-top: 10px;
            margin-bottom: 10px;
            &:hover{
                transform: scale(1.05,1.05);
            }
        }
        a{
            color:map-get($estilos, color);
            font-family: $tipgrafia-general;
            text-decoration: none;
            &:hover{
                color: #1b7ceb;
            }
        }
    }
}
/* Aqui finaliza gallery*/
/* Inicia about me*/
body{
    .bodyme{
        background: linear-gradient(to right, rgba(0, 0, 0, 0.616), rgba(0, 0, 0, 0.616)), url(../Imagenes/shurima-ruins.jpg);
        background-size: cover;
        background-position: center;
    }
}
main{
    .containerimg{
        display: flex;    
        justify-content: center;
        img{
            width: 100%; 
        }
    } 
    .containertext{
        font-family: $tipgrafia-general;
        display: flex;
        justify-content: flex-start;
        text-align: center;
        color: $color-texto2;
        text-shadow: -3px -2px 0 black ;
    }
}
/* Aqui comienza contacto*/
body{
    .contact{
        background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../Imagenes/void-the-fall-of-icathia.jpg");
        background-size: cover;
        background-position: center;
    }
}
body{
    h2{
        color: rgb(56, 133, 233);
        text-align: center;
        font-style: Times;
        font-weight: 700;
        text-transform: uppercase;   
    }
    .Formulario{
        @extend .league_1;
        flex-direction: column;
    }
    .Formulario_parrafo{
        @include flex-column-center
        font-family: $tipgrafia-general;
        color: $color-texto2;
        text-shadow: -2px -1px 0 rgb(0, 0, 0);
        margin: 20px;
        padding: 10px;
        text-align: center;
        align-items: center;
        p{
            display: flex;
            justify-content: flex-start;
            text-align: center;
            margin: 20px;
            padding: 10px;
        }
    }
}

/*Aqui finaliza contacto*/
/*Footer general*/
footer{
    display: flex;
    justify-content: space-between;
    color:map-get($estilos, color);
    p{
        font-size: medium;
        text-align: start;
        display: flex;
        flex-direction: column-reverse;
        font-family: $tipgrafia-general;  
    }
    .logo2{
        text-align: left;
        align-items: map-get($estilos, flex-start);
    }
}
/* Aqui termina*/
